header {
    max-height: 700px;
    overflow: hidden;
    position: relative;
}
header .header-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    text-align: center;
    /* inset : 5px; */
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

header .content {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);

    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 24px;
    align-items: flex-start;
    z-index: 999;
    margin: 0 auto;
}

header .content h1 {
    /* margin: 20px 0 10px; */
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    font-size: 42px;
    line-height: 66px;
}
header .content h2 {
    /* margin: 20px 0 10px; */
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
    line-height: 29px;
}
header .content h2.sub-title {
    font-size: 18px;
    line-height: 23px;
    line-height: 1.3;
    font-weight: bold;
    color: #fff;
    padding-bottom: 36px;
}

/* end header */
